confu==1.9.0
docutils==0.21.2
munge[tomlkit,yaml]==1.3.0
pid==3.0.4
pluginmgr==1.2.1
python-daemon==3.1.2
graphyte==1.7.1
requests==2.32.3
prometheus-client==0.21.1
flask==2.2.5
graphsrv==2.1.1
setuptools==78.1.0
werkzeug==2.1.0
whisper==1.1.10
pyzmq==26.3.0
https://github.com/20c/vodka/archive/f03a3910583f1616f436b3a594ac9824611a0df2.tar.gz
